html, body, *{
    margin: 0%;
}
.hovedboks {
    margin: auto;
    max-width: 4096px;
    max-height: 2160px;
    background-color: rgb(254, 204, 245);
}
h1 {
    text-align: center;
}
h4 {
    text-align: center;
}


.innholdsboks  {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(203, 98, 251);
    position: relative; top: 30px
    
}
.bilde {
    float: right;
    background-color: rgb(203, 98, 251);
    
}
.footer {
    position: relative; top: 40px;
    padding: 20px;
    background-color:rgb(254, 204, 245);
}
.bildetekst {
    width: 50%;
    background-color: rgb(203, 98, 251);
    font-size: 1rem;
}
.foot {
    position: relative; top: 60px;
    height: 200px;
    background-color: rgb(80, 0, 150);
    color: white;
    font-size: 20px;
    padding: 10px;
}
#gmail {
    position: relative; left: 300px;
    position: relative; bottom: 21px;
    display: flex;
    flex-direction: row;
}
#mobilnr {
    position: relative; left: 300px;
    display: flex;
    flex-direction: row;
}
body {
    background-color: rgb(254, 204, 245);
}

/* mediaquery for mobil*/
@media screen and (max-width: 768px) {
	.innholdsboks{
		display:flex;
		flex-direction: column;
		gap: 0.5rem;
        align-items: center;
        justify-content: center;
	}
}


